body{
  background: #303030;
}

#pricing-table {
	text-align: center;
	width: 100%;
}

#pricing-table .plan {
	font: 12px 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;
	text-shadow: 0 1px rgba(255,255,255,.8);        
	background: #fff;      
	border: 1px solid #ddd;
	color: #333;
	margin-bottom: 20px;    
	float: left;
	position: relative;
	width: 20%;
	margin-left: 5%;
}
#pricing-table .plan img {
	margin-top:10px;
}

#pricing-table h3 {
	font-size: 20px;
	font-weight: normal;
	padding: 20px;
	margin: -20px -20px 50px -20px;
	background-color: #eee;

}	

#pricing-table h3 span {
	display: block;
	color: #777;
	background: #fff;
	border: 5px solid #fff;
	height: 100px;
	width: 100px;
	border-radius: 100px;
}


#pricing-table ul {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
}

#pricing-table li {
	border-top: 1px solid #ddd;
	padding: 10px 0;
}

	
#pricing-table .signup {
	position: relative; 
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;       
	background-color: #72ce3f;
	border-radius: 3px;     
}
